fastapi
uvicorn[standard]
motor
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pandas
openpyxl
xlrd
langchain
langchain-google-genai
langgraph
langchain-community
python-dotenv
aiofiles
httpx
pydantic
pydantic-settings
email-validator
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
colorama
cryptography
dataclasses-json
distro
dnspython
ecdsa
filetype
frozenlist
google-auth
greenlet
h11
httpcore
httptools
httpx-sse
idna
jsonpatch
jsonpointer
langchain-classic
langchain-core
langchain-text-splitters
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
marshmallow
multidict
mypy_extensions
numpy
orjson
ormsgpack
packaging
passlib
pip
propcache
pyasn1
pyasn1_modules
pycparser
pydantic_core
pymongo
python-dateutil
PyYAML
requests
requests-toolbelt
rsa
six
sniffio
SQLAlchemy
starlette
tenacity
typing_extensions
typing-inspect
typing-inspection
tzdata
urllib3
uuid_utils
watchfiles
websockets
xxhash
yarl
zstandard
